.container{
 width: 90%;
 height: 400px;
 margin:0 auto;
 background-color: black;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 
}
.container div{
    width: 200px;
    height: 200px;
    text-align: center;
    align-items:flex-start;
   
}
div:nth-of-type(3){
    align-self: center;
    
    
}