#board {
    display: flex;
    margin: 0 auto;
    width: 500px;
    flex-wrap: wrap;
  }


.square{
   width: 100px;
   box-sizing: border-box;
   border: 1px solid black;
   height: 100px;
}
.square:nth-child(2n){
    background-color: #deb887;
}
.square:nth-child(2n+1){
    background-color: #a52a2a;
}