body{
    background-color: #151b29;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
button{
    background: none;
    color:yellow;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.3s, border-color 0.2s, box-shadow 0.1s;
}
button:hover{
    color: white;
    border-color: #c0e27f;
    box-shadow:  0em 0.5em 0.5em -0.4em #c0e27f;
    transform: translateY(-0.25em);
    
}